mypage
{% extends 'registration/base.html' %}<!-- EKSTENDER TIL EN ANDEN SIDE -->
<p> {{user}} </p>
{% block title %}List af emner{% endblock %} <!-- -->
{% block main %}Welcomme {{user}}
<div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Slug</th>
                      <th>Category</th>
                      <th>Discription</th>
                      <th>Image</th>
                        <th>Publish</th>
                        <th>Created</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for article in object_list %}
                   <tr>
                      <td>{{article.title}}</td>
                      <td>{{article.slug}}</td>
                      <td>{{article.category_to_str}}</td>
                      <td>{{article.description|truncatewords:10}}</td> #begeranse
                      <td><img src="{{article.thumbnail.url}}" width="60" height="50"></td>
                       <td>{{article.publish}}</td>
                       <td>{{article.created}}</td>
                       <td>
                           {% if article.status == 'p' %}
                              <span class="badge badge-success">Is poblish</span>
                              <a target="_blank" class="badge badge-primary" href="{% url 'blog:detail' article.slug %}">Show</a>
                            {% else %}
                              <span class="badge badge-danger" style="background-color: #32f4df;">It is a draft</span>
                             {% endif %}

                       </td>

                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

{% endblock %}