
<center><!-- lægger den i midden -->
    {% for article in category %}
       <article>
           <a href = "{% url 'blog:category' article.slug %}">{{article.title}}</a>
           {{article.slug}}
       </article>
    {% endfor %}
</center>