<<center><!-- lægger den i midden -->
       <article>
           <img src="{{article.thumbnail.url}}" alt ="{{article.title}}" width="600" height="500"><!-- storelse af billede -->
           <p>{{article.publish}}</p>
           <p>  {{article.description}}</p>
       </article>
</center>