<!-- Here starts the sidebar
{% for article in articles %}
   <article>
       <p> name: {{article.name}}</p>
       <p> age: {{article.age}}</p>
       <img src="{{article.img}}" alt ="{{article.age}}">
   <h1>{{article.age}}</h1>
   </article>
{% endfor %}

<h1><a href="/article/{{article.slug}}">{{article.title}}</a></h1> #hardkoding af
-->
<center><!-- lægger den i midden -->
    {% for article in articles %}
       <article>
           <h1><a href="{% url 'blog:detail' article.slug %}">{{article.title}}</a></h1>
           <img src="{{article.thumbnail.url}}" alt ="{{article.title}}" width="600" height="500"><!-- storelse af billede -->
           <p>{{article.publish}}</p>
           <p>  {{article.description}}</p>

           {% for cat in article.category.all %}
               <a href = "#">{{cat.title}}</a>
           {% endfor %}

           </div>
       </article>
    {% endfor %}
</center>